.modal {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
    border-radius: 2px;
    border-width: 0;
    padding: 0;
    max-height: 80%;
    max-width: 80%;
  }
  
  .modal [open] {
    animation: show 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
  
  .modal::backdrop {
    background-color: #adb5bd;
    opacity: 0.7;
  }
  
  .modal-article {
    padding: 2rem;
    position: relative;
  }
  
  .btn-close {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    top: 5%;
    right: 2%;
    color: #e74800;
  }
  