.cart-card {
    background-color: white;
    border: 2px solid black;
}

.product-name {
    margin-top: 40%;
}

.img {
    max-width: 150px;
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;
}